<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>SmartPlaceWeb</display-name>
	<welcome-file-list>
		<welcome-file>entryPage.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>IscriviUtenteServlet</servlet-name>
		<servlet-class>controller.IscriviUtente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IscriviUtenteServlet</servlet-name>
		<url-pattern>/iscriviUtente</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CheckLogin</servlet-name>
		<servlet-class>controller.CheckLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckLogin</servlet-name>
		<url-pattern>/checkLogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AlternativeCheckLogin</servlet-name>
		<servlet-class>controller.AlternativeCheckLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlternativeCheckLogin</servlet-name>
		<url-pattern>/alternativeCheckLogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>leggiStatoDispositivi</servlet-name>
		<servlet-class>controller.leggiStatoDispositivi</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>leggiStatoDispositivi</servlet-name>
		<url-pattern>/leggiStatoDispositivi</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CurrentChart</servlet-name>
		<servlet-class>controller.CurrentChart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CurrentChart</servlet-name>
		<url-pattern>/currentChart</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OttieniGrafici</servlet-name>
		<servlet-class>controller.OttieniGrafici</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OttieniGrafici</servlet-name>
		<url-pattern>/ottieniGrafici</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccendiLuci</servlet-name>
		<servlet-class>controller.AccendiLuci</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccendiLuci</servlet-name>
		<url-pattern>/AccendiLuci</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ApriFinestre</servlet-name>
		<servlet-class>controller.ApriFinestre</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApriFinestre</servlet-name>
		<url-pattern>/ApriFinestre</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ApriCancello</servlet-name>
		<servlet-class>controller.ApriCancello</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApriCancello</servlet-name>
		<url-pattern>/ApriCancello</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EliminaAttivita</servlet-name>
		<servlet-class>controller.EliminaAttivita</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EliminaAttivita</servlet-name>
		<url-pattern>/EliminaAttivita</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EliminaRegola</servlet-name>
		<servlet-class>controller.EliminaRegola</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EliminaRegola</servlet-name>
		<url-pattern>/EliminaRegola</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LeggiTemperatura</servlet-name>
		<servlet-class>controller.LeggiTemperatura</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeggiTemperatura</servlet-name>
		<url-pattern>/LeggiTemperatura</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LeggiUmidita</servlet-name>
		<servlet-class>controller.LeggiUmidita</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeggiUmidita</servlet-name>
		<url-pattern>/LeggiUmidita</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MonitoraTemperatura</servlet-name>
		<servlet-class>controller.MonitoraTemperatura</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MonitoraTemperatura</servlet-name>
		<url-pattern>/MonitoraTemperatura</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PianificaAttivita</servlet-name>
		<servlet-class>controller.PianificaAttivita</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PianificaAttivita</servlet-name>
		<url-pattern>/PianificaAttivita</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PianificaRegola</servlet-name>
		<servlet-class>controller.PianificaRegola</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PianificaRegola</servlet-name>
		<url-pattern>/PianificaRegola</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LeggiAttivita</servlet-name>
		<servlet-class>controller.LeggiAttivita</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeggiAttivita</servlet-name>
		<url-pattern>/LeggiAttivita</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LeggiRegole</servlet-name>
		<servlet-class>controller.LeggiRegole</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeggiRegole</servlet-name>
		<url-pattern>/LeggiRegole</url-pattern>
	</servlet-mapping>

	<!-- Android Servlet -->

	<servlet>
		<servlet-name>accendiLuciAndroidServlet</servlet-name>
		<servlet-class>controllerAndroid.accendiLuciAndroid</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>accendiLuciAndroidServlet</servlet-name>
		<url-pattern>/accendiLuciAndroid</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>monitoraTemperaturaAndroidServlet</servlet-name>
		<servlet-class>controllerAndroid.monitoraTemperaturaAndroid</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>monitoraTemperaturaAndroidServlet</servlet-name>
		<url-pattern>/monitoraTemperaturaAndroid</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>apriFinestreAndroidServlet</servlet-name>
		<servlet-class>controllerAndroid.apriFinestreAndroid</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>apriFinestreAndroidServlet</servlet-name>
		<url-pattern>/apriFinestreAndroid</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>IscriviUtenteAndroidServlet</servlet-name>
		<servlet-class>controllerAndroid.IscriviUtenteAndroid</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IscriviUtenteAndroidServlet</servlet-name>
		<url-pattern>/iscriviUtenteAndroid</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CheckLoginAndroid</servlet-name>
		<servlet-class>controllerAndroid.CheckLoginAndroid</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckLoginAndroid</servlet-name>
		<url-pattern>/checkLoginAndroid</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CheckLoginGoogle</servlet-name>
		<servlet-class>controllerAndroid.CheckLoginGoogle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckLoginGoogle</servlet-name>
		<url-pattern>/checkLoginGoogle</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LeggiTemperaturaAndroid</servlet-name>
		<servlet-class>controllerAndroid.leggiTemperaturaAndroid</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeggiTemperaturaAndroid</servlet-name>
		<url-pattern>/LeggiTemperaturaAndroid</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>readLightStateServlet</servlet-name>
		<servlet-class>controllerAndroid.readLightState</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>readLightStateServlet</servlet-name>
		<url-pattern>/readLightState</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>readFanStateServlet</servlet-name>
		<servlet-class>controllerAndroid.readFanState</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>readFanStateServlet</servlet-name>
		<url-pattern>/readFanState</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>readWindowStateServlet</servlet-name>
		<servlet-class>controllerAndroid.readWindowState</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>readWindowStateServlet</servlet-name>
		<url-pattern>/readWindowState</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>temperatureChartServlet</servlet-name>
		<servlet-class>controllerAndroid.temperatureChart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>temperatureChartServlet</servlet-name>
		<url-pattern>/temperatureChart</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>planActivityServlet</servlet-name>
		<servlet-class>controllerAndroid.planActivity</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>planActivityServlet</servlet-name>
		<url-pattern>/planActivity</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LeggiUmiditàAndroid</servlet-name>
		<servlet-class>controllerAndroid.leggiUmiditaAndroid</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeggiUmiditàAndroid</servlet-name>
		<url-pattern>/LeggiUmiditàAndroid</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>humidityChartServlet</servlet-name>
		<servlet-class>controllerAndroid.humidityChart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>humidityChartServlet</servlet-name>
		<url-pattern>/humidityChart</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>findAllActivity</servlet-name>
		<servlet-class>controllerAndroid.findAllActivity</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>findAllActivity</servlet-name>
		<url-pattern>/findAllActivity</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteActivity</servlet-name>
		<servlet-class>controllerAndroid.deleteActivity</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteActivity</servlet-name>
		<url-pattern>/deleteActivity</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>planRules</servlet-name>
		<servlet-class>controllerAndroid.planRules</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>planRules</servlet-name>
		<url-pattern>/planRules</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>findAllRules</servlet-name>
		<servlet-class>controllerAndroid.findAllRules</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>findAllRules</servlet-name>
		<url-pattern>/findAllRules</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteRules</servlet-name>
		<servlet-class>controllerAndroid.deleteRules</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteRules</servlet-name>
		<url-pattern>/deleteRules</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>calendarActivity</servlet-name>
		<servlet-class>controllerAndroid.calendarActivity</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>calendarActivity</servlet-name>
		<url-pattern>/calendarActivity</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>apriCancelloAndroid</servlet-name>
		<servlet-class>controllerAndroid.apriCancelloAndroid</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>apriCancelloAndroid</servlet-name>
		<url-pattern>/apriCancelloAndroid</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>readGateState</servlet-name>
		<servlet-class>controllerAndroid.readGateState</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>readGateState</servlet-name>
		<url-pattern>/readGateState</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>checkSensoriGoogle</servlet-name>
		<servlet-class>controllerAndroid.checkSensoriGoogle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkSensoriGoogle</servlet-name>
		<url-pattern>/checkSensoriGoogle</url-pattern>
	</servlet-mapping>
	
	
	<listener>
	    <listener-class>
	        controller.MyAppServletContextListener
	    </listener-class>
	</listener>
	 
	
	
	<listener>
	    <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
	</listener>
	
	    
</web-app>