img#logo {
	position: absolute;
	right:10px;
	width:150px;
	height:auto;
}

@media only screen and (min-device-width: 400px)
img#logo {
	
	position: absolute;
	max-width: 100%;
	height:auto;
	
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.checkbox-luci{
	
}

i#up{
	padding-left: 48%;
}

i#down {
	padding-left: 48%;
	padding-bottom: 4%;
}

.portfolio {
	padding-top: 10%;
}

label {
	left:44%;
}

label#sicurezza{
	left:0%;
}

.row {
	padding-bottom: 4%;
}


/* Thermometer column and text */
.thermometer{
    margin:50px auto;
    width:22px;
    height:150px;
    display:block;
    font:bold 14px/152px helvetica, arial, sans-serif;
    text-indent: 36px;
    background: linear-gradient(top, #fff 0%, #fff 50%, #db3f02 50%, #db3f02 100%);
    border-radius:22px 22px 0 0;
    border:5px solid #4a1c03;
    border-bottom:none;
    position:relative;
    box-shadow:inset 0 0 0 4px #fff;
    color:#4a1c03;
}

/* Thermometer Bulb */
.thermometer:before{
    content:' ';
    width:44px;
    height:44px;
    display:block;
    position:absolute;
    top:142px;
    left:-16px;
    z-index:-1; /* Place the bulb under the column */
    background:#db3f02;
    border-radius:44px;
    border:5px solid #4a1c03;
    box-shadow:inset 0 0 0 4px #fff;
}

/* This piece here connects the column with the bulb */
.thermometer:after{
    content:' ';
    width:14px;
    height:7px;
    display:block;
    position:absolute;
    top:146px;
    left:4px;
    background:#db3f02;
}

div#humidity.container {
    position: relative;
    text-align: center;
    color: white;
}

div#text_humidity.centered {
    position: absolute;
    font-size: 26px;
    font-style: italic;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img#humidity {
	width: 350px;
	height: auto;
}

.portfolio-item-caption {
	
}

