img#logo {
	/*position: absolute;*/
	/*right:10px;*/
	width:150px;
	height:auto;
} 

img#house1 {
	max-width: 100%;
	height: auto;
	display: block;
}

img#phone {
	max-width: 100%;
	height: auto;
	display: block;
}

img#playStore {
	width: 161px;
	height: 48px;
	position: static;
	right: 475px; 
	top: 180px;
}

@media only screen and (min-device-width: 400px)
img#logo {
	
	position: absolute;
	max-width: 100%;
	height:auto;
	
}

h2#phone3{
	color: #000000;
}

p#phone3{
	color: #000000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



